.full-width {
  width: 100%;
}

.actions {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

mat-chip {
  font-size: 0.75rem;
}

.clickable {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}